h1 {
    text-align: center;
    color:darkolivegreen;
}
p {
    font-family: Calibri;
    font-size: 23px;
}
p.greenParagraph {
    color:lawngreen;
    background-color: black;
}
h2.greenParagraph {
    color:lawngreen;
}
body {
    background-color: #293B33;
}